
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
 *{
       margin:0;
       padding: 0;
       font-family: 'Work Sans', sans-serif;
 }
 .b-border{
      background: #dfdad3;
	height: 0.2rem;
	width: 15rem;
	display: inline-block;
      margin-bottom:1.5rem;
 }
:root{
      --light-green:#87a471;
      --service-bg:#606a64;
      --teams-bg:#5b9776;
      --touch-btn:#00b99a;
}
 .p-bg{
       background-color: #f7f9ff;
 }
 /* nav-area start */
 .navigation{
	background: #000;
 }
 .forth-menu-area{
	height:4rem;
	display:flex;
	justify-content:end;

}
.menu-logo {
    width: 25%;
    height: inherit;
}
.menu-logo img{
	width:25%;
	display: inline-block;
	/* margin-left: 8rem; */
}
 .forth-menu{
      width: 70%;  
  }
  .forth-menu{
        text-align: center;
  }
  .forth-menu ul{
        display: inline-block;
        
  }
 i{
        color: #fff;
  }
  .forth-menu ul li{
        display: inline-block;
        list-style: none;
        position: relative;
  }
  .forth-menu ul li a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        margin-left:3rem;
        padding-top: 1.2rem;
	  transition: all 0.4s;
  }
  .forth-menu ul li a:hover{
	border-bottom: 1px solid #fff;
  }
  .forth-menu ul li:hover .submenu li>a{
	color: #000;
	background-color: #fff;
  } 
  .forth-menu ul li ul {
	position: absolute;
	top: 140%;
	left: 0;
	background-color: #000;
	width: 220px;
	transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: bottom center;
	padding-left: 0;
}
     
.forth-menu ul li:hover ul{
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
}
  .forth-menu ul li ul li{
        display: block;
	  
	}
  .forth-menu ul li ul li a {
	display: block;
	margin-left: 0;
	border-bottom: 1px solid #000;
	color: #000;
}
 /* nav-area end */
 body,h1,h2,h3,h4,h5,h6,p,a,small {
       font-family: 'Work Sans', sans-serif;
 }
 /* top Banner css start */
.banner-section {
       background:url(img/hero-bg.jpg) no-repeat top center;
       background-size: cover;
       padding: 220px 0;
       color: #fff;
 } 
 .banner-content h1 {
	font-size: 3rem;
	font-weight: 900;
	margin-left: 13px;
}
.banner-content h3 {
	font-weight: 600;
	margin: 0 0 1.3rem .8rem;
}
 .banner-content a{
       text-decoration: none;
 }
 .default-btn {
	color: #fff;
	padding: 20px 38px;
	background: #000;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	transition: all 0.4s;
}
.hover-btn-1:hover{
      background: #fff;
      color: #000!important;
      border: 2px solid #000;
}
.hover-btn-2 {
	background: #fff;
	color: #000;
}
.hover-btn-2:hover{
      background: #000;
      color: #fff;
}
 /* top Banner css end */
 
/* about section start */
.about-area{
      background: var(--light-green);
      padding: 10px 0 40px 0;
}
.title-area h2 {
	color: #e8dfda;
	text-shadow: 1px 1px 5px #e8dfda;
      font-size: 2.8rem;
      font-weight:900;
}
/* about section end */

/* service section start */
.service{
      background: var(--service-bg);
      padding: 4rem 0;
}
.service-item {
	background: #fff;
	border-radius: 15px;
	padding: 2.2rem;
	box-sizing: border-box;
}
/* service section end */
/* check-out section start */
.check-out {
	background: var(--light-green);
	padding: 5rem 0;
}
.check-wokr img {
      box-sizing: border-box;
      padding:25px;
      width: 100%;
}
.check-wokr{
      padding: 0 40px;
}

/* teams-area start */
.teams-area{
      background: var(--teams-bg);
}
.teams-title h2 {
	color: #fff;
	font-size: 2.3rem;
}
.teams-area ul li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
}
.teams-area ul li a {
	display: inline-block;
	color: #fff;
	font-size: 3rem;
	margin-left: 1.2rem;
}
.tem-icon ul li a i{
	transition: all 0.4s;
}
.tem-icon ul li a i:hover{
	color:#3c596c;
}
/* teams-area start end*/
/* work-us area start  */
.work-us{
      background: var(--service-bg);
      padding:5rem 0;
}
button:hover{
	background:#3c596c;
}
button {
	background:var(--touch-btn);
	border: none;
	padding: .5rem 2.1rem;
	border-radius: .2rem;
	color: #fff;
	transition: all 0.4s;
}

